.days {
    box-sizing: border-box;

    clip-path: 50%;

    img {
        box-sizing: border-box;

        width: 300px;
        background-color: red;
        position: absolute;
        top: 40%;
        right: 50%;

        clip-path: circle(50%);
    }

    width: fit-content;
}